@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

:root{
    --mainbg: #F5F6FA;
    --logincolor: #3183FF;
    --logincolorHover: #2567FF;
    --maincolor: #E2674A;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
}
